.body {
  margin: 0;
  padding: 0;
  background: #61cc6d;
  font-family: sans-serif;
  height:14.55cm;
}
.container{
  overflow: hidden;
  padding: 0;
  position: relative;
  top: 1.5cm;
}
/*the time line*/
.container::before {
  content:'';
  width: 5px;
  height: 12cm;
  background: #464a51;
  position: absolute;
  left: 24.1cm;

}
/* display the content */
.content {
  padding:  30px;
  margin: 20px 60px;
  width: 5cm;
  border-radius: 8px;
  position: relative;
  text-align: center;
  border-radius: 20%;
}
.right {
  left: 23cm;

}
.left {
  left: 12cm;

}
/*display the arrow*/

/*display circle*/
.content::after{
  content: '';
  width: 25px;
  height: 25px;
  background: #708090;
  position: absolute;
  left: -45px;
  top: 50%;
  border-radius: 50%;
  border: 5px solid #3c3f44;
  transform: translatey(-50%);


}
/*display a line*/
.line {
  width: 5cm;
  height: 2px;

  border: 1px dashed dimgray;
  left:-7cm;
  top: -0.4cm;
  padding: 0;
  position: relative;
}
