
#MainNavbar {
    margin-bottom: 0px;

}
#MsgIcon {
    color: orange;
    font-size: 25px;
    padding-top: 4px;
    padding-right: 10px;
    cursor: pointer;
}
#BellIcon {
    color: orange;
    font-size: 25px;
}
#SearchInput {
    width: 10cm;
    border-bottom: 1px solid black;

}
#SearchIcon {
    cursor: pointer;
}
#DropNavi{
    height: auto;
    width: auto;
}
#ad {
    padding: 4px 10px 4px 10px;
    border: 1px solid black;
    border-width:medium;
    margin:5PX;
    font-size: 24px;
    color: black;
    border-radius: 10px;


    text-align: center;
}
